.todolist__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 600px;
  overflow-y: auto;
  gap: 20px;
}

.todolist__header__wrapper {
  background-color: #fff;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #c9c9c9;
}

.todolist__header__wrapper > h2 {
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
}

.todolist__list__wrapper {
  list-style: none;
  background-color: #fff;
  padding: 0 16px;
}

.todolist__list__wrapper > li {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #c9c9c9;
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.todolist__list__wrapper > li:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .todolist__wrapper {
    height: 100vh;
    max-width: 100vw;
  }
}
