.signup__wrapper {
  display: flex;
  width: 300px;
  height: 400px;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.signup__back-button {
  border: none;
  text-decoration: underline;
  color: #007bff;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 280px) and (max-width: 1023px) {
  .signup__wrapper {
    width: 100%;
  }
}
