.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logout-button {
  border: none;
  text-decoration: underline;
  color: rgb(188, 74, 74);
  background-color: transparent;
  cursor: pointer;
}
